*.[pP][dD][fF]
!/football/football-1903/petition.pdf
/hiking/**/*.[pP][nN][gG]
/hiking/**/*.[jJ][pP][gG]
/hiking/**/*.[pP][eE][nN][gG]
/hiking/**/*.[mM][pP][4]
/hiking/**/*.[gG][iI][fF]
/hiking/**/*.[jJ][pP][eE][gG]
/hiking/**/*.[mM][oO][vV]
!/football/**/*.[jJ][pP][gG]
!/football/**/*.[pP][nN][gG]
!/hiking/icon.png
!/hiking/dupont/main-falls-map.gif
!/hiking/nantahalah/pinnacle-park/pinnacle-park-full-map.jpg
!/hiking/pisgah/courthouse-falls/courthouse-map.png
!/bbq/map.png
*.[mM][pP][3]
*.[mM][4][aA]
*.[wW][aA][vV]
*.[uU][rR][lL]
*.[xX][lL][sS]
!/football/recruiting/*.[xX][lL][sS][xX]