*.[pP][dD][fF]
!/football/football-1903/petition.pdf
/hiking/**/*.[pP][nN][gG]
/hiking/**/*.[jJ][pP][gG]
/hiking/**/*.[pP][eE][nN][gG]
/hiking/**/*.[mM][pP][4]
/hiking/**/*.[gG][iI][fF]
!/hiking/icon.png