/*
 *Name: Carter Claiborne
 *UnityID: cwclaibo	
 *Date: 2/18/2018
 *Assignment: Webpages IA
 *Description: Independent assignment on HTML and CSS - CSS page
 */

body {
  background: #8DF98D;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: #8DF98D 15px solid;
  padding: 0;
  margin: 0;
}



table, th, td {

	border: 1px solid black ;
       
       }