html {
  background: white;
  box-sizing: border-box;
  min-height: 100%;
  border: #FF0000 15px solid;
  padding-left: 2%;
  padding-right: 2%;
  margin: 0;
}

.black {
	background-color: black;
}

.white {
	background-color: white;
}

.green {
	background-color: green;
}

.orange {
	background-color: orange;
}

th,
td {
	min-width: 15px;
	width: 15px;
	height: 12px;
	line-height: 12px;
	padding: 0px;
	margin: 0px;
	font-weight:bold;
	font-size: 11px;
}

table {
	border-spacing: 0;
}