html {
  background: white;
  box-sizing: border-box;
  min-height: 100%;
  border: #FF0000 15px solid;
  padding-left: 2%;
  padding-right: 2%;
  margin: 0;
}

.black {
	background-color: black;
}

.white {
	background-color: white;
}

.green {
	background-color: green;
}

.orange {
	background-color: orange;
}

th,
td {
	min-width: 18px;
	width: 18px;
	height: 15px;
	line-height: 15px;
	padding: 0px;
	margin: 0px;
	font-weight:bold;
	font-size: 10px;
}

table {
	border-spacing: 0;
	display: block;
    max-width: fit-content;
    margin: 0 auto;
    overflow-x: auto;
	padding-bottom: 15px;
	text-align: center;
}

tr:hover {
	background-color: rgba(187, 187, 187, 0.60);
}


th:hover {
	background-color: rgba(187, 187, 187, 0.60);
}

