html {
  background: white;
  box-sizing: border-box;
  min-height: 100%;
  border: #FF0000 15px solid;
  padding-left: 2%;
  padding-right: 2%;
  margin: 0;
}


.bold {
	font-weight: bold;
}


.black {
	background-color: black;
}

.white {
	background-color: white;
}

.green {
	background-color: green;
}

.orange {
	background-color: orange;
}

